* {
  box-sizing: border-box;
}

:root {
  --primary: gold;
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
  font-size: 62.5%;
}

body {
  background: #ededed;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--secondary);
  padding: 30px 25px;
  border-bottom: 5px solid var(--primary);
}

header p {
  color: var(--tertiary);
  margin: 5px 0 20px;
  font-size: 2rem;
}

/* High Score */
.high-score a{
  font-size: large;
  text-decoration: none;
  color: white;
}

/* Timer */
#timer {
  font-size: large;
  color: white;
}

div {
  font-size: large;
  font-style: italic;
}

p, li {
  font-size: 1.6rem;
}

li {
  padding: 20px 0 20px 20px;
  background-color: gold;
  margin: 10px;
  color: black;
  font-weight: bold;
  border-radius: 25px;
}

.page-title {
  color: var(--primary);
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 4.5rem;
}

.quiz-box {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 95%;
}

.quiz-wrapper {
  flex: 1;
  margin: 0 200px 100px;
  font-size: large;
  text-align: center;
}

.quiz-title {
  color: var(--secondary);
  font-size: 2.6rem;
  text-align: center;
}

.quiz-list {
  list-style: none;
  padding: 15px;
  height: calc(100% - 50px);
  background: rgb(196, 196, 196);
  border-radius: 12px;
  border: 2px solid var(--grey);
}

.quiz-list ul li{
  font-style: italic;
  padding: 100px;
}

.button {
  outline: none;
  border: none;
  /*display: inline-block;*/
  padding: 10px 15px;
  margin: 10px 10px 50px 10px;
  background: var(--primary);
  font-size: 2.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
}

.button:hover {
  box-shadow: 0 2px var(--grey);
  top: -2px;
}
.button:active {
  box-shadow: 0 0px var(--grey);
  top: 0;
}

@media screen and (max-width: 980px) {
  form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .quiz-wrapper {
    flex-basis: 100%;
  }

}
